.slide-show__image-box {
	display: none;
	width: 100vw;
	max-width: 45rem;
	margin: 0 auto;
}

.slide-show__image-box--visible{
	display: block;
}

.slide-show__image-portrait {
	width: 15rem;
	height: 21rem;
}


.slide-show__image-landscape {
	width: 21rem;
	height: 15rem;
}