html {
	font-size: 20px;
}

body {
	color: #fff;
	background-color: rgb(241, 251, 252);
}

main {
	background-color: rgb(10, 10, 10);
	width: 70%;
	margin: 2rem auto;
	border-radius: 0.2rem;
	box-shadow:  0.2rem 0.2rem 1rem 0 rgba(0, 0, 0);
}

.slide-show {
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	gap: 1rem;
	text-align: center;
	width: 100vw;
	max-width: 45rem;
	height: 25rem;
}

.image-button {
	margin: 0 auto;
	padding-bottom: 1rem;
	text-align: center;
}